{% extends 'gallery/base.html' %}

{% block content %}
<div class="container-fluid mt-2">
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="display-4 text-success text-center mt-2"><b>MY UPLOAD</b></h5>
                <table class="table">
                    <tr>
                        <td><b>My Upload</b></td>
                        <td><b>Action</b></td>
                    </tr>
                    {% for x in image %}
                        <tr>
                            <td><img src="{{ x.image.url }}" alt="" style="width:50px; height:50px; border-radius:40px;" ></td>
                            <td><a href="{% url 'deletemyupload' x.img_id %}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}